/*
    Helpful repo: https://github.com/bmijanovich/zmk-config/blob/main/config/glove80.keymap
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define L_BASE        0
#define L_NUM_AND_SYM 1
#define L_FN_AND_KB   2

#define TAPPING_TERM         200
#define TAPPING_TERM_PER_KEY
#define TAP_DANCE_TIMEOUT_MS 200

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    behaviors {
        td_slash: tap_dance_fslash_bslash {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAP_DANCE_TIMEOUT_MS>;
            bindings = <&kp FSLH>, <&kp BSLH>;
                
        };

        td_caps: tap_dance_capsw_capsl {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <TAP_DANCE_TIMEOUT_MS>;
            bindings = <&caps_word>, <&kp CAPS>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
            // | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  N   |  E  |  I  |  O  |  '   |
            // | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | LOWER or ENTER  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F     &kp P         &kp G        &kp J            &kp L    &kp U          &kp Y    &kp SEMICOLON      &kp BSPC
&kp LSHFT  &kp A  &kp R  &kp S     &kp T         &kp D        &kp H            &kp N    &kp E          &kp I    &kp O              &kp RSHFT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V         &kp B        &kp K            &kp M    &kp COMMA      &kp DOT  &td_slash          &kp ESC
                         &kp LGUI  &kp LEFT_ALT  &kp SPACE    &mo L_NUM_AND_SYM      &lt L_FN_AND_KB RET     &kp LC(BSLH)
            >;
        };

        lower_layer: lower_layer {
            // -----------------------------------------------------------------------------------------
            // |      |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  |      |
            // |      |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |      |
            // |      |  `  |UP   |DOWN |  -  |  [  |   |  ]  |  =  |LEFT |RHGT |  /  |      |
            //                    |     |     |     |   |     |     |     |

            display-name = "Num & Sym";
            bindings = <
&td_caps  &kp EXCLAMATION  &kp AT_SIGN   &kp HASH        &kp DOLLAR    &kp PERCENT         &kp CARET          &kp AMPERSAND  &kp ASTERISK    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans    &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3    &kp NUMBER_4  &kp N5              &kp NUMBER_6       &kp NUMBER_7   &kp NUMBER_8    &kp NUMBER_9          &kp NUMBER_0           &trans
&trans    &kp GRAVE        &kp UP_ARROW  &kp DOWN_ARROW  &kp MINUS     &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp EQUAL      &kp LEFT_ARROW  &kp RIGHT             &kp SQT                &trans
                                       &trans          &trans        &trans              &trans             &trans         &trans
            >;
        };

        raise_layer: raise_layer {
            // -----------------------------------------------------------------------------------------
            // |      |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 |  F10| VOL_UP |
            // |      |     |     |     |     |  F11|   |  F12|     |     |     |     | VOL_DO |
            // |      |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" | VOL_MU |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Fn & Kb";
            bindings = <
&kp C_BRIGHTNESS_INC  &kp F1  &kp F2         &kp F3       &kp F4           &kp F5        &kp F6      &kp F7  &kp F8    &kp F9   &kp F10  &kp C_VOLUME_UP
&kp C_BRIGHTNESS_DEC  &none   &none          &none        &kp PRINTSCREEN  &kp F11       &kp F12     &none   &none     &none    &none    &kp C_VOLUME_DOWN
&none                 &none   &kp PAGE_DOWN  &kp PAGE_UP  &none            &kp DELETE    &kp INSERT  &none   &kp HOME  &kp END  &none    &kp K_MUTE
                                             &none        &none            &none         &none       &none   &none
            >;
        };
    };
};
